Telephone Sensor Application/Connected Services/SensorDataService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TelephoneSensorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TelephoneSensorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSensorDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorDataItem" nillable="true" type="tns:SensorDataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorDataItem" nillable="true" type="tns:ArrayOfSensorDataItem" />
  <xs:complexType name="SensorDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorDataItem" nillable="true" type="tns:SensorDataItem" />
</xs:schema>